
.tvPage{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;

}
.tvContent {
    position: relative;
    width:100%;
    height:calc(100vh - 50px);
    padding:10px 40px;
    display:flex;
    flex-direction: column;
    overflow:hidden;

}
.time {
    margin:0;
    flex-grow: 0;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1;
    position: relative;
    min-height:0;
}